body {
    padding: 20px;
}

#Auth {
    width: 400px;
}

#flowers {
    width: 500px;
}

#orders {
   width: 600px
}

form#order {
    text-align: center;
    width: 500px;
}

#cart, #info {
    text-align: center;
    width: 400px;
    border: 4px double #c11818;
    padding: 10px;
    border-radius: 10px;
}

h2 {
    font-weight: bolder;
}

label {
    font-weight: bolder;
    font-size: initial;
}

#totaldiv, #totalhr {
    text-align: right;
}

.center, #logout, #balance {
    text-align: -webkit-center;
}

table, th, td {
    border: 1px solid #c11818;
    padding: 10px;
    text-align: center;
}
